body{
    background-image: url('./WhatsApp\ Image\ 2023-02-15\ at\ 8.54.10\ AM.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.box{
    background-color: rgba(38, 58, 241, 0.6);
    
}


